<app-player *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 16 + (i * 86)}" 
[playerActive]="i == game.currentPlayer" [name]="player" class="player-avatar"></app-player>

<div class="playtable">
    <div class="card-stack" *ngIf="this.game.stack && this.game.stack.length > 0">
        <!-- Card stack -->
        <img *ngFor="let c of drawCardStackAmount(); let i = index;" [ngStyle]="{'right.px': i * 5}"
            src="assets/img/cards/rof_cover.png">
        <!-- Top card of stack to take card -->
        <img (click)="takeCard()" class="top-card" [ngStyle]="{'right.px': 5 * (drawCardStackAmount().length + 1)}" src="assets/img/cards/rof_cover.png">
        <!-- Stack of played cards -->
        <img *ngFor="let card of game.playedCard" class="played-card" src="assets/img/cards/{{ card }}.svg">
        <!-- current card animation -->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px;"
            src="assets/img/cards/{{ currentCard }}.svg">
    </div>
</div>

<button mat-fab (click)="openDialog()" color="primary" class="btn-add">
    <mat-icon>add</mat-icon>
</button>

<app-card-rules [card]="currentCard" [players]="game.players" [cardstack]="game.stack" class="pin-bottom"></app-card-rules>