@import 'fonts.scss';
@import 'colors.scss';

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Allan';
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
